@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  text-decoration: none;
  border: none;
  outline: none;
  box-shadow: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}
